<section class="base-section coaches" id="coaches">
  <h2 class="section-heading wow fadeInDown" data-wow-delay="0.1s">
    Our Coaches
  </h2>
  <p class="section-description wow fadeInDown" data-wow-delay="0.3s">
    Coaches in our school are not only perfect dancers but also have a big
    experience in coaching that is why you will feel really amazing after
    each of your class
  </p>
  <div class="coaches__inner">
    <div
      class="base-card coaches__item coach-card wow fadeInUp"
      data-wow-delay="0.5s"
    >
      <img
        class="coach-card__img"
        src="../../assets/coach1.jpg"
        alt="Coach photo"
        loading="lazy"
      />
      <div class="coach-card__info d-flex flex-column">
        <span class="coach-card__number">01</span>
        <h3 class="base-heading-sm coach-card__name">Ann Walker</h3>
        <span class="coach-card__position">Dancer</span>
        <ul class="base-text coach-card__list">
          <li class="coach-card__list-item">
            <span class="blurred">Work experience </span>8 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Teacher for </span>3 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Style </span>Viennese Waltz, Salsa
          </li>
        </ul>
        <button class="btn-accent coach-card__btn">Let’s start</button>
        <button class="btn-accent coach-card__btn--mob"></button>
      </div>
    </div>
    <div
      class="base-card coaches__item coach-card wow fadeInUp"
      data-wow-delay="0.7s"
    >
      <img
        class="coach-card__img"
        src="../../assets/coach2.jpg"
        alt="Coach photo"
        loading="lazy"
      />
      <div class="coach-card__info d-flex flex-column">
        <span class="coach-card__number">02</span>
        <h3 class="base-heading-sm coach-card__name">Tom Wilspon</h3>
        <span class="coach-card__position">Dancer</span>
        <ul class="base-text coach-card__list">
          <li class="coach-card__list-item">
            <span class="blurred">Work experience </span>10 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Teacher for </span>5 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Style </span>HipHop
          </li>
        </ul>
        <button class="btn-accent coach-card__btn">Let’s start</button>
        <button class="btn-accent coach-card__btn--mob"></button>
      </div>
    </div>
    <div class="base-card coaches__item coach-card">
      <img
        class="coach-card__img"
        src="../../assets/coach1.jpg"
        alt="Coach photo"
        loading="lazy"
      />
      <div class="coach-card__info d-flex flex-column">
        <span class="coach-card__number">03</span>
        <h3 class="base-heading-sm coach-card__name">Ann Walker</h3>
        <span class="coach-card__position">Dancer</span>
        <ul class="base-text coach-card__list">
          <li class="coach-card__list-item">
            <span class="blurred">Work experience </span>8 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Teacher for </span>3 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Style </span>Viennese Waltz, Salsa
          </li>
        </ul>
        <button class="btn-accent coach-card__btn">Let’s start</button>
        <button class="btn-accent coach-card__btn--mob"></button>
      </div>
    </div>
    <div class="base-card coaches__item coach-card">
      <img
        class="coach-card__img"
        src="../../assets/coach2.jpg"
        alt="Coach photo"
        loading="lazy"
      />
      <div class="coach-card__info d-flex flex-column">
        <span class="coach-card__number">04</span>
        <h3 class="base-heading-sm coach-card__name">Tom Wilspon</h3>
        <span class="coach-card__position">Dancer</span>
        <ul class="base-text coach-card__list">
          <li class="coach-card__list-item">
            <span class="blurred">Work experience </span>10 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Teacher for </span>5 years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Style </span>HipHop
          </li>
        </ul>
        <button class="btn-accent coach-card__btn">Let’s start</button>
        <button class="btn-accent coach-card__btn--mob"></button>
      </div>
    </div>
  </div>
  <div class="coaches__navigation d-flex justify-center">
    <span class="coaches__counter"></span>
  </div>
</section>