<section class="base-section coaches" id="coaches">
  <h2 class="section-heading wow fadeInDown" data-wow-delay="0.1s">
    {{content.meta.title}}
  </h2>
  <p class="section-description wow fadeInDown" data-wow-delay="0.3s">
    {{content.meta.description}}
  </p>
  <div class="coaches__inner d-flex">
    <div class="base-card coaches__item coach-card d-flex wow fadeInUp" data-wow-delay="0.5s"
      *ngFor="let coach of content.content; let i = index">
      <img class="coach-card__img" src="../../assets/coach1.jpg" alt="Coach photo" loading="lazy" />
      <div class="coach-card__info d-flex flex-column">
        <span class="coach-card__number">0{{i + 1}}</span>
        <h3 class="base-heading-sm coach-card__name">{{coach.name}}</h3>
        <span class="coach-card__position">{{coach.direction}}</span>
        <ul class="base-text coach-card__list">
          <li class="coach-card__list-item">
            <span class="blurred">Work experience </span>{{coach.workExperience}} years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Teacher for </span>{{coach.teachExperience}} years
          </li>
          <li class="coach-card__list-item">
            <span class="blurred">Style </span>
            <span *ngFor="let style of coach.style">
              {{style}} 
            </span>
          </li>
        </ul>
        <button class="btn-accent coach-card__btn">Let’s start</button>
        <button class="btn-accent coach-card__btn--mob"></button>
      </div>
    </div>
  </div>
  <div class="coaches__navigation d-flex justify-center">
    <span class="coaches__counter"></span>
  </div>
</section>