<section class="base-section offer" id="offer">
  <h2 class="section-heading wow fadeInDown" data-wow-delay="0.1s">
    {{content.meta.title}}
  </h2>
  <p class="section-description wow fadeInDown" data-wow-delay="0.3s">
    {{content.meta.description}}
  </p>
  <div class="offer__inner d-flex">
    <div
      class="offer__item d-flex align-center flex-column wow fadeInUp"
      data-wow-delay="0.4s"
      *ngFor="let offerItem of content.content"
    >
      <i class="icon icon-coaches offer__icon"></i>
      <span class="offer__description">{{offerItem.title}}</span>
    </div>
  </div>
</section>