<section class="base-section services" id="services">
  <h2 class="section-heading wow fadeInDown" data-wow-delay="0.1s">
    {{content.meta.title}}
  </h2>
  <p class="section-description wow fadeInDown" data-wow-delay="0.3s">
    {{content.meta.description}}
  </p>
  <button class="btn-main section-edit-button" (click)="openEditor()">Edit</button>
  <div class="services__inner d-flex justify-between">
    <div
      class="base-card services__item service-card d-flex flex-column wow fadeInUp"
      data-wow-delay="0.5s"
      *ngFor="let serviceItem of content.content"
    >
      <img
        class="service-card__img"
        src="../../assets{{serviceItem.url}}.jpg"
        alt="For Bride and Groom"
        loading="lazy"
      />
      <div class="service-card__info">
        <h3 class="base-heading-sm service-card__heading">
          {{serviceItem.title}}
        </h3>
        <ul class="base-text">
          <li class="service-card__point">First Dance</li>
          <li class="service-card__point">Parent & Child Dance</li>
        </ul>
      </div>
    </div>
  </div>
</section>