<section class="base-section services" id="services">
  <h2 class="section-heading wow fadeInDown" data-wow-delay="0.1s">
    Our Services
  </h2>
  <p class="section-description wow fadeInDown" data-wow-delay="0.3s">
    We want to make your wedding day perfect that is why suggest a lot of
    options for dance: not only for a bride and groom but for their friends
    and relatives
  </p>
  <div class="services__inner d-flex justify-between">
    <div
      class="base-card services__item service-card d-flex flex-column wow fadeInUp"
      data-wow-delay="0.5s"
    >
      <img
        class="service-card__img"
        src="../../assets/services1.jpg"
        alt="For Bride and Groom"
        loading="lazy"
      />
      <div class="service-card__info">
        <h3 class="base-heading-sm service-card__heading">
          For Bride and Groom
        </h3>
        <ul class="base-text">
          <li class="service-card__point">First Dance</li>
          <li class="service-card__point">Parent & Child Dance</li>
        </ul>
      </div>
    </div>
    <div
      class="base-card services__item service-card d-flex flex-column wow fadeInUp"
      data-wow-delay="0.7s"
    >
      <img
        class="service-card__img"
        src="../../assets/services2.jpg"
        alt="For Bride and Groom"
        loading="lazy"
      />
      <div class="service-card__info">
        <h3 class="base-heading-sm service-card__heading">For Guests</h3>
        <ul class="base-text">
          <li class="service-card__point">Groomsmen Dance</li>
          <li class="service-card__point">Parent Dance</li>
          <li class="service-card__point">Children’s Dance</li>
        </ul>
      </div>
    </div>
    <div
      class="base-card services__item service-card d-flex flex-column wow fadeInUp"
      data-wow-delay="0.9s"
    >
      <img
        class="service-card__img"
        src="../../assets/services3.jpg"
        alt="For Bride and Groom"
        loading="lazy"
      />
      <div class="service-card__info">
        <h3 class="base-heading-sm service-card__heading">Other events</h3>
        <ul class="base-text">
          <li class="service-card__point">Bridal Party Dance</li>
          <li class="service-card__point">Anniversary Dance</li>
        </ul>
      </div>
    </div>
  </div>
</section>