<section class="hero base-section d-flex">
  <div class="hero__inner d-flex flex-column justify-center">
    <h1
      class="hero__heading base-heading-xl wow fadeInDown"
      data-wow-delay="0.1s"
    >
      Wedding Dance Lessons
    </h1>
    <span
      class="hero__location base-heading-sm wow fadeIn"
      data-wow-delay="0.4s"
      >New Jersey</span
    >
    <p class="base-text hero__info wow fadeIn" data-wow-delay="0.6s">
      The wedding dance is one of the most important dances in your life.
      You look perfect and the whole audience is looking at you. Also, it
      becomes the favorite moment you like to play on videos and photos.
      Feel the moment
    </p>
    <button class="btn-accent hero__btn wow fadeInUp" data-wow-delay="0.8s">
      Let’s start
    </button>
  </div>
  <div class="hero__img-holder">
    <img
      src="../../assets/first-dance-i.jpg"
      alt="First Dance"
      class="hero__img wow fadeIn"
      data-wow-delay="1.2s"
    />
  </div>
</section>