<div *ngIf="!isLoading" class="wrapper" [ngClass]="{ blurred: isPopupOpen }">
  <app-header
    [content]="menuSectionContent"
    [isAdmin]="isAdmin"
    (onSignInClick)="openLoginPopup()"
    (onSignOutClick)="LogOut()"
  ></app-header>
  <app-section-hero [content]="heroSectionContent"></app-section-hero>
  <app-section-services
    [content]="servicesSectionContent"
    [isAdmin]="isAdmin"
    (onClick)="openEditorPopup($event)"
  ></app-section-services>
  <app-section-offer [content]="offerSectionContent"></app-section-offer>
  <app-section-coaches [content]="coachesSectionContent"></app-section-coaches>
  <app-footer></app-footer>
</div>
<app-popup *ngIf="isPopupOpen">
  <app-login-form
    (onCancel)="closePopup($event)"
    (onSubmit)="isAdmin = true"
    *ngIf="isLoginPopup"
  ></app-login-form>
  <app-editor-form
    (onCancel)="closePopup($event)"
    (onSubmit)="getContentData()"
    *ngIf="isEditorPopup"
    [content]="editedSectionContent"
  >
  </app-editor-form>
</app-popup>
